[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
adafruit-circuitpython-ssd1306 = "*"
adafruit-circuitpython-framebuf = "*"
adafruit-circuitpython-rfm69 = "*"
adafruit-circuitpython-rfm9x = "*"

[requires]
python_version = "3.8"
